---
import Layout from '../layouts/Layout.astro'
---

<Layout title="About" description="Specializing in sound design, recording, mixing, and editing, we bring your vision to life with top-quality audio for musicians, podcasters, artists, and businesses."> 
    <section class="container-m mx-auto">
        <div class="mx-2 border-b border-black">
            <h1 class="text-3xl font-medium my-3 lg:text-5xl lg:my-6">↳ABOUT</h1>
        </div>
    </section>
    <section class="container-m mx-auto">
        <div class="px-2">
            <div class="border-b border-black mb-6 lg:mb-0">
                <div class="lg:flex my-4 lg:my-10">
                    <div class="lg:w-[40%] lg:pr-6 lg:border-r lg:border-black">
                        <div class="rounded-2xl bg-[url(../images/Studio-23.webp)] h-[75vh] w-full bg-center bg-cover lg:h-[90vh]"></div>
                        <a class="text-center" href="/contact"><p class="hidden lg:inline-block bg-black py-2 pl-5 pr-4 text-white rounded-xl xl:mt-6 ">Work with us<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                    </div>
                    <div class="lg:w-[60%] lg:mx-12 font-deco">
                        <p class="mb-4">Welcome to AudioLabs!</p>
                        <p class="mb-4">My name is Ben (Benny) Collins-Graham, and I am the founder and lead sound engineer here at AudioLabs. With over seven years of experience in the music and audio industry, I have had the pleasure of working in a wide range of roles, from professional engagements to passion projects.</p>
                        <p class="mb-4">Building and designing AudioLabs has been a major part of my journey, and I am thrilled to see this dream come to life.</p>
                        <p class="mb-4">My musical journey began at the age of 10 when my grandfather gifted me an electric guitar. From that moment, my love for music only grew. In my production, initially setting up my studio with a laptop, a Steinberg audio interface, and a pair of Mackie 4” speakers.</p>
                        <p class="mb-4">Seven years later, the dream of owning and operating a professional studio has become a reality. AudioLabs is now equipped with high-end studio equipment and is dedicated to delivering top-quality audio for our clients and partners.</p>
                        <p class="mb-4">Feel free to explore our portfolio page to see our previous work, and follow us on our social media pages and blog to stay updated with our latest projects.</p>
                        <p class="mb-4">In addition to my work in audio, I have been involved in various projects outside the music industry. Please reach out if you would like more information about my roles and contributions to these projects.</p>
                        <div class="mt-10">
                            <p class="mb-2 font-medium text-center">Strawberry Fields Festival - Site Crew</p>
                            <p class="mb-2 font-medium text-center">Pitch Music and Arts Festival - Site Crew</p>
                            <p class="mb-2 font-medium text-center">Wide Open Space Festival - Audio Engineer</p>
                            <p class="mb-2 font-medium text-center">PBC Camp Event - Technical Producer</p>
                            <p class="mb-2 font-medium text-center">RISING: Festival - Technical Services Coordinator</p>
                            <p class="mb-2 font-medium text-center">Laver Cup London 2022 - Screen Content Coordinator</p>
                            <p class="mb-2 font-medium text-center">Australian Open 2022/23 - Screen Content Coordinator</p>
                            <p class="mb-2 font-medium text-center">Myer Santa Photography - National Operations Coordinator</p>
                            <p class="mb-2 font-medium text-center">Alice Springs Heritage Festival - Program Manager</p>
                            <p class="mb-2 font-medium text-center">Melbourne Water - Project FireFighter</p>
                            <div class="flex justify-center my-12  lg:hidden">
                                <a class="text-center" href="/contact"><p class="inline-block bg-black py-2 pl-5 pr-4 text-white rounded-xl xl:mb-6">Work with us<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>