---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Contact" description='Melbourne’s Premier Audio Production:  Tailored Sound Design, Recording, and Mixing at AudioLabs.'> 
    <section class="container-m mx-auto">
        <div class="mx-2 border-b border-black">
            <h1 class="text-3xl font-medium my-3 lg:text-5xl lg:my-6">↳CONTACT</h1>
        </div>
    </section>
    <section class="container-m mx-auto">
        <div class="px-2">
            <div class="mb-6 lg:mb-0 border-b border-black">
                <div class="lg:flex my-4 lg:my-10">
                    <div class="lg:w-[40%] lg:pr-6 lg:border-r lg:border-black">
                        <div class="rounded-2xl bg-[url(../images/Recording-2.webp)] h-[75vh] w-full bg-center bg-cover lg:h-[60vh]"></div>
                    </div>
                    <div class="lg:w-[60%] lg:mx-12">

                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>