---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Projects" description='Melbourne’s Premier Audio Production:  Tailored Sound Design, Recording, and Mixing at AudioLabs.'> 
    <section class="container-m mx-auto">
        <div class="mx-2 border-b border-black lg:pb-6">
            <h1 class="text-3xl font-medium my-3 lg:text-5xl lg:my-6">↳PROJECTS</h1>
            <div class="hidden lg:block rounded-2xl bg-[url(../images/p&tt.webp)] h-[30vh] w-full bg-cover lg:h-[70vh]"></div>
        </div>
    </section>
    <section class="container-m mx-auto">
        <div class="mx-2 border-b border-black">
            <div class="my-4 lg:flex">
                <div class="lg:w-[35%] lg:border-r lg:border-black lg:pr-6">
                    <img class="rounded-2xl" src="../images/pcmob_app.webp" alt="PCMOB App image" loading="lazy">
                </div>
                <div class="py-6 lg:py-0 lg:w-[65%] lg:mx-6">
                    <h2 class="text-2xl font-medium mb-4 lg:text-4xl">PBCmob</h2>
                    <p class="mb-4 font-deco">PBCmob is a mobile app development that has been commissioned by the Central Land Council. This app aims to provide information on Native Title rights and claims, as well as educational insights into operating a prescribed body corporate in an easy to access format.</p>
                    <p class="mb-4 font-deco">To assist with accessibility, the information and general navigation of the app has been interpreted into the language groups that make up the prescribed body corporates in the Central Australia region. This allows PBC members to learn and understand the content in their native language, as well as English.</p>
                    <p class="mb-4 font-deco">The Central Land Council has developed 3 dialogue scripts: These scripts have been interpreted by a native language speaker and then recorded as spoken word. AudioLabs has been contracted to deliver the audio recording component of this project. This includes:</p>
                    <div class="font-deco">
                        <li>Project Management</li>
                        <li>Providing the required equipment</li>
                        <li>Manage studio bookings</li>
                        <li>Building pop-up studios and recording in remote locations</li>
                        <li>Conduct audio recordings</li>
                        <li>Conduct post-production</li>
                        <li>Hire sound engineers when required</li>
                        <li class="mb-4">Work directly with the App Developers to ensure seamless integration of audio files into the software</li>
                        <p>This is an on-going project that AudioLabs is committed to. Keep up to date with new developments, including new languages and scripts via our social media and blog.</p>   
                    </div>
                    <div class="flex gap-4 flex-wrap">
                        <div class="mt-8">
                            <a href="https://apps.apple.com/au/app/pbc-mob/id6443979919" target="_blank"><p class="inline-block bg-black py-2 pl-5 pr-4 text-white rounded-xl xl:mb-6">Apple Store<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                        </div>
                        <div class="mt-8">
                            <a href="https://play.google.com/store/apps/details?id=au.org.clc.mobile&hl=en_AU" target="_blank"><p class="inline-block bg-black py-2 pl-5 pr-4 text-white rounded-xl xl:mb-6">Google Play<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-m mx-auto">
        <div class="mx-2 border-b border-black">
            <div class="my-4 lg:flex">
                <div class="lg:w-[35%] lg:border-r lg:border-black lg:pr-6">
                    <img class="rounded-2xl" src="../images/focalpoint.webp" alt="Focal Point Album image" loading="lazy">
                </div>
                <div class="py-6 lg:py-0 lg:w-[65%] lg:mx-6">
                    <h2 class="text-2xl font-medium mb-4 lg:text-4xl">Focal Point</h2>
                    <div class="font-deco">
                        <p class="mb-4">Focal Point is an electronic artist based in Melbourne / Narrm, focusing on ambient textures and
                            breakbeats in a downtempo format. His most recent body of work - undulation, is a 4 track EP
                            that was produced, recorded and mixed at AudioLabs studio. This body of work was created
                            over 2022/2023 and mastered by local legend Mikey Young.</p>
                        <p class="mb-4">AudioLabs supplied a wide array of production equipment. Including Moog Matriarch, Novation Peak, Vermona Perfourmer, Behringer TD303, Fender Jazzmaster, Ableton Live 12, Ableton Push and a range of microphones.</p>
                        <p class="mb-4">The EP was mixed by AudioLabs lead sound engineer - Ben Collins-Graham </p>
                    </div>
                    <div class="mt-8">
                        <a href="https://audiolabs.bandcamp.com/album/focal-point-undulation" target="_blank"><p class="inline-block bg-black py-2 pl-5 pr-4 text-white rounded-xl xl:mb-6">Bandcamp<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-m mx-auto">
        <div class="mx-2 border-b border-black">
            <div class="my-4 lg:flex">
                <div class="lg:w-[35%] lg:border-r lg:border-black lg:pr-6">
                    <img class="rounded-2xl" src="../images/8ccc.webp" alt="8ccc logo" loading="lazy">
                </div>
                <div class="py-6 lg:py-0 lg:w-[65%] lg:mx-6">
                    <h2 class="text-2xl font-medium mb-4 lg:text-4xl">8CCC Community Radio</h2>
                    <p class="mb-4 font-deco">AudioLabs has been involved with 8CCC community radio for 4+ years with numerous projects, including collaborations on the PBCmob app development, radio station music curation, radio show and music production.</p>
                    <p class="mb-4 font-deco"> In July 2024 8CCC reached out to AudioLabs to create a radio news reading music theme. This theme has been designed to play before each segment, where the host will announce local and national news relevant to the Central Barkly Region of Australia.</p>
                    <p class="mb-4 font-deco">AudioLabs lead sound engineer, Ben Collins-Graham was employed as the Technical Coordinator in 2021.</p>
                    <div class="flex gap-4 flex-wrap">
                        <div class="mt-8">
                            <a href="https://www.8ccc.com.au/" target="_blank"><p class="inline-block bg-black py-2 pl-5 pr-4 text-white rounded-xl xl:mb-6">Website<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-m mx-auto">
        <div class="mx-2 border-b border-black">
            <div class="my-4 lg:flex">
                <div class="lg:w-[35%] lg:border-r lg:border-black lg:pr-6">
                    <img class="rounded-2xl" src="../images/aftertherain.webp" alt="After the rain logo" loading="lazy">
                </div>
                <div class="py-6 lg:py-0 lg:w-[65%] lg:mx-6">
                    <h2 class="text-2xl font-medium mb-4 lg:text-4xl">After The Rain</h2>
                    <p class="mb-4 font-deco">After The Rain is a monthly radio show that is curated, recorded and produced at AudioLabs studio. Co-hosts Benny and Lloyd share their favorite songs, new digs and obscure finds over 1.5hrs.</p>
                    <p class="mb-4 font-deco">The show is broadcast on the first Saturday of each month on 102.1FM in Alice Springs and Tennant Creek. The show can also be found on demand on the 8CCC website, and on our mixcloud page.</p>
                    <p class="mb-4 font-deco">The show is broadcast on the first Saturday of each month on 102.1FM in Alice Springs and Tennant Creek. The show can also be found on demand on the 8CCC website, and on our mixcloud page.</p>
                    <p class="mb-4 font-deco">AudioLabs created the intro soundtrack for the show, records all of the spoken dialogue, ensures the quality of the show and created the graphic design for our social media platforms IG: aftertherain.radio</p>
                    <div class="flex gap-4 flex-wrap">
                        <div class="mt-8">
                            <a href="https://www.instagram.com/aftertherain.radio/" target="_blank"><p class="inline-block bg-black py-2 pl-5 pr-4 text-white rounded-xl xl:mb-6">Instagram<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                        </div>
                        <div class="mt-8">
                            <a href="https://www.mixcloud.com/aftertherain_radio/" target="_blank"><p class="inline-block bg-black py-2 pl-5 pr-4 text-white rounded-xl xl:mb-6">Mixcloud<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                        </div>
                        <div class="lg:mt-8">
                            <a href="https://www.8ccc.com.au/programs/aftertherain/" target="_blank"><p class="inline-block bg-black py-2 pl-5 pr-4 text-white rounded-xl xl:mb-6">Website<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-m mx-auto">
        <div class="mx-2 border-b border-black">
            <div class="my-4 lg:flex">
                <div class="lg:w-[35%] lg:border-r lg:border-black lg:pr-6">
                    <img class="rounded-2xl" src="../images/empyral.webp" alt="Empryal Album image" loading="lazy">
                </div>
                <div class="py-6 lg:py-0 lg:w-[65%] lg:mx-6">
                    <h2 class="text-2xl font-medium mb-4 lg:text-4xl">Empyral</h2>
                    <p class="mb-4 font-deco">AudioLabs first project back in 2019. empyral is an ambient electronic artist utilising hardware synthesizers to create deep, hyper-emotive music. His first self titled 4 track EP is rich with lustrous ascensions, hypnotic arpeggiations and moments of silence.</p>
                    <p class="mb-4 font-deco">Post the launch of his self titled EP, empyral was asked to create a ‘trail mix’ for local ambient event group Chomley. This trail mix was a collection of original ideas, curated for a walk in nature.</p>
                    <p class="mb-4 font-deco">The empyral projects can be found on the AudioLabs bandcamp: audiolabs.bandcamp.com/music</p>
                    <div class="mt-8">
                        <a href="https://audiolabs.bandcamp.com/" target="_blank"><p class="inline-block bg-black py-2 pl-5 pr-4 text-white rounded-xl xl:mb-6">Bandcamp<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow image"></p></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-m mx-auto">
        <div class="mx-2 border-b border-black">
            <div class="my-4 lg:flex">
                <div class="lg:w-[35%] lg:border-r lg:border-black lg:pr-6">
                    <img class="rounded-2xl" src="../images/p&tt_1.webp" alt="Phil & the Tiles Album cover" loading="lazy">
                </div>
                <div class="py-6 lg:py-0 lg:w-[65%] lg:mx-6">
                    <h2 class="text-2xl font-medium mb-4 lg:text-4xl">Phil & The Tiles - "Double Happiness"</h2>
                    <p class="mb-4 font-deco">Local Melbourne post-punk band Phil & The Tiles teamed up with AudioLabs to record overdub tracks for their debut album, "Double Happiness."</p>
                    <p class="mb-4 font-deco">The project included laying down vocals, keys, and electric guitars over a span of just two days. Once the overdubs were complete, we handed the final stems over to the talented Mikey Young for mixing and mastering.</p>
                    <p class="mb-4 font-deco"> You can listen to the album on their Bandcamp page: Phil & The Tiles - Double Happiness.</p>
                    <div class="mt-8">
                        <a href="https://phil-and-the-tiles.bandcamp.com/album/double-happiness" target="_blank"><p class="inline-block bg-black py-2 pl-5 pr-4 text-white rounded-xl xl:mb-6">Bandcamp<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-m mx-auto  mb-6 lg:mb-0">
        <div class="mx-2 border-b border-black">
            <div class="my-4 lg:flex">
                <div class="lg:w-[35%] lg:border-r lg:border-black lg:pr-6">
                    <img class="rounded-2xl" src="../images/lsdeath.webp" alt="LSDeath album cover" loading="lazy">
                </div>
                <div class="py-6 lg:py-0 lg:w-[65%] lg:mx-6">
                    <h2 class="text-2xl font-medium mb-4 lg:text-4xl">LSDeath</h2>
                    <p class="mb-2 font-deco">LSDeath approached AudioLabs for some post-production work on their debut EP titled ‘In The Gutter’.</p>
                    <p class="mb-2 font-deco">The aim of the project was to re-do the initial mix and tailor it for live performance, leaving out the vocals and lead synth lines which were to be performed live on the stage.</p>
                    <p class="mb-2 font-deco">AudioLabs delivered a punchy, bass driven mix designed to capture the audience's attention and drive the speaker system.</p>
                    <p class="mb-2 font-deco">LSDeath projects can be found on their bandcamp page</p>
                    <div class="mt-8">
                    <a href="https://lsdeath.bandcamp.com/album/in-the-gutter-ep" target="_blank"><p class="inline-block bg-black py-2 pl-5 pr-4 text-white rounded-xl xl:mb-6">Bandcamp<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>