---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Services" description='Melbourne’s Premier Audio Production:  Tailored Sound Design, Recording, and Mixing at AudioLabs.'> 
    <section class="container-m mx-auto">
        <div class="mx-2 border-b border-black pb-4">
            <h1 class="text-3xl font-medium my-3 lg:text-5xl lg:my-6">↳SERVICES</h1>
            <div class="rounded-2xl bg-[url(../images/Studio-4.webp)] h-[75vh] w-full bg-center bg-cover lg:h-[70vh]"></div>
        </div>
    </section>
    <section class="container-m mx-auto">
        <div class="px-2 lg:border-b lg:border-black">
            <div class=" py-4 lg:py-8">
                <div class="lg:flex">
                    <div class="lg:w-[30%] lg:border-r lg:border-black lg:pr-6">
                        <div class="flex gap-2 items-center mb-4 lg:mb-8">
                            <img class="w-[40px]" src="../images/logo-dark.png" alt="Audio labs logo">
                            <h2 class="  text-3xl font-medium lg:text-4xl">RECORDING</h2>
                        </div>
                        <div class="rounded-2xl bg-[url(../images/Recording-2.webp)] h-[30vh] w-full bg-center bg-cover lg:h-[60vh]"></div>
                    </div>
                    <div class=" border-b border-black lg:border-b-0 lg:w-[70%]">
                        <div class="border-b border-black lg:mx-6">
                            <div class="pb-10 pt-6 lg:pt-0 lg:pb-6">
                                <p class="font-deco">We trust RME as our audio interface, preamp and A/D converter to deliver crystal clear conversion from the source, directly into the digital audio workstation. We employ our Barefoot Footprint03 monitoring system to reflect accurate and detailed results.</p>
                            </div>
                            <a href="/contact"><p class="hidden bg-black py-2 pl-5 pr-4 text-white lg:inline-block rounded-xl xl:mb-6">Let's talk<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                        </div>
                        <div>
                            <div class="lg:flex">
                                <div class="border-b border-black py-6 pb-10 lg:ml-6 lg:py-0 lg:w-[50%]">
                                  <div class=" lg:border-r lg:border-black lg:pr-4 lg:pb-10 lg:mb-6">
                                    <div class="flex w-full gap-2 lg:mt-6">
                                      <img class="w-[26px] h-[26px]" src="../images/logo-dark.png" alt="Audio Labs logo">
                                      <h3 class="text-xl font-medium mb-4">Music Recording & Production</h3>
                                    </div>
                                    <p class="font-deco">We specialise in recording music across various genres. Our studio is equipped with a range of hardware synthesisers, microphones, preamps and RME A/D conversion to ensure your
                                    production meets your expectations.</p>
                                  </div>
                                </div>
                                <div class="border-b border-black py-6 pb-10 lg:pl-6 lg:py-0 lg:pb-6  lg:w-[50%]">
                                  <div class="flex w-full gap-2 lg:mt-6">
                                    <img class="w-[26px] h-[26px]" src="../images/logo-dark.png" alt="Audio Labs logo">
                                    <h3 class="text-xl font-medium mb-4">Podcast Production</h3>
                                  </div>
                                  <p class="font-deco">Create engaging and professional podcasts and shows with our podcast production service. We
                                will handle all aspects of your podcast including music, sound effects, recording, editing and
                                mixing.</p>
                                </div>
                              </div>
                              <div class="lg:flex">
                                <div class="border-b border-black py-6 pb-10 lg:ml-6 lg:border-b-0 lg:py-6  lg:w-[50%]">
                                  <div class=" lg:border-r lg:border-black lg:pr-4 lg:pb-10">
                                    <div class="flex w-full gap-2">
                                      <img class="w-[26px] h-[26px]" src="../images/logo-dark.png" alt="Audio Labs Logo">
                                      <h3 class="text-xl font-medium mb-4">Voice Over Recording</h3>
                                    </div>
                                    <p class="font-deco">Perfect for informational content, animations and more, we will record any spoken word content
                                    ready to be embedded into your visual production or audiobook.</p>
                                  </div>
                                </div>
                                <div class="border-b border-black py-6 pb-10 lg:pl-6 lg:border-b-0 lg:py-6  lg:w-[50%]">
                                  <div class="flex w-full gap-2">
                                    <img class="w-[26px] h-[26px]" src="../images/logo-dark.png" alt="Audio Labs logo">
                                    <h3 class="text-xl font-medium mb-4">On-Location Recording</h3>
                                  </div>
                                  <p class="mb-8 font-deco">Our specialised recording kit allows us to capture high quality audio in remote locations. Ideal for field recording, live events and more.AudioLabs’ on-location services brings studio quality recording to any environment.</p>
                                  <a href="/contact"><p class="lg:hidden inline-block bg-black py-2 pl-5 pr-4 text-white rounded-xl">Let's talk<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-m mx-auto">
        <div class="px-2 lg:border-b lg:border-black">
            <div class=" py-4 lg:py-8">
                <div class="lg:flex">
                    <div class="lg:w-[30%] lg:border-r lg:border-black lg:pr-6">
                        <div class="flex gap-2 items-center mb-4 lg:mb-8">
                            <img class="w-[40px]" src="../images/logo-dark.png" alt="Audio Labs Logo">
                            <h2 class="  text-3xl font-medium lg:text-4xl">AUDIO EDITING</h2>
                        </div>
                        <div class="rounded-2xl bg-[url(../images/Studio-4.webp)] h-[30vh] w-full bg-center bg-cover lg:h-[60vh]"></div>
                    </div>
                    <div class=" border-b border-black lg:border-b-0  lg:w-[70%]">
                        <div class="border-b border-black lg:mx-6">
                            <div class="pb-10 pt-6 lg:pt-0 lg:pb-6">
                                <p class="font-deco">Transform your raw recordings into polished, professional audio. AudioLabs offers meticulous editing solutions to enhance the quality and impact of your audio projects.</p>
                            </div>
                            <a href="/contact"><p class="hidden bg-black py-2 pl-5 pr-4 text-white lg:inline-block rounded-xl xl:mb-6">Let's talk<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                        </div>
                        <div>
                            <div class="lg:flex">
                                <div class="border-b border-black py-6 pb-10 lg:ml-6 lg:py-0 lg:w-[50%]">
                                  <div class=" lg:border-r lg:border-black lg:pr-4 lg:pb-10 lg:mb-6">
                                    <div class="flex w-full gap-2 lg:mt-6">
                                      <img class="w-[26px] h-[26px]" src="../images/logo-dark.png" alt="Audio Labs Logo">
                                      <h3 class="text-xl font-medium mb-4">Noise Reduction</h3>
                                    </div>
                                    <p class="font-deco">Eliminate background noise, hums, and unwanted sounds from your recordings. Our advanced noise reduction techniques ensure a clean, clear recording, making your audio sound professional and polished.</p>
                                  </div>
                                </div>
                                <div class="border-b border-black py-6 pb-10 lg:pl-6 lg:py-0 lg:pb-6  lg:w-[50%]">
                                  <div class="flex w-full gap-2 lg:mt-6">
                                    <img class="w-[26px] h-[26px]" src="../images/logo-dark.png" alt="Audio Labs Logo">
                                    <h3 class="text-xl font-medium mb-4">Audio Restoration</h3>
                                  </div>
                                  <p class="font-deco">Revive old or damaged recordings with our audio restoration services. We enhance clarity, reduce distortion, and bring new life to your cherished audio files.</p>
                                </div>
                              </div>
                              <div class="lg:flex">
                                <div class="border-b border-black py-6 pb-10 lg:ml-6 lg:border-b-0 lg:py-6  lg:w-[50%]">
                                  <div class=" lg:border-r lg:border-black lg:pr-4 lg:pb-10">
                                    <div class="flex w-full gap-2">
                                      <img class="w-[26px] h-[26px]" src="../images/logo-dark.png" alt="Audio Labs Logo">
                                      <h3 class="text-xl font-medium mb-4">Podcast Editing</h3>
                                    </div>
                                    <p class="font-deco">Remove mistakes, awkward pauses, and background noises from your podcast recordings. Add intros, outros, and music beds to create a polished, professional podcast.</p>
                                  </div>
                                </div>
                                <div class="border-b border-black py-6 pb-10 lg:pl-6 lg:border-b-0 lg:py-6  lg:w-[50%]">
                                  <div class="flex w-full gap-2">
                                    <img class="w-[26px] h-[26px]" src="../images/logo-dark.png" alt="Audio Labs Logo">
                                    <h3 class="text-xl font-medium mb-4">Vocal Editing</h3>
                                  </div>
                                  <p class="mb-8 font-deco">Enhance vocal tracks with pitch correction, de-essing, and dynamic processing. Our vocal editing services make sure your voice recordings sound their best.</p>
                                  <a href="/contact"><p class="lg:hidden inline-block bg-black py-2 pl-5 pr-4 text-white rounded-xl">Let's talk<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-m mx-auto">
        <div class="px-2 lg:border-b lg:border-black">
            <div class=" py-4 lg:py-8">
                <div class="lg:flex">
                    <div class="lg:w-[30%] lg:border-r lg:border-black lg:pr-6">
                        <div class="flex gap-2 items-center mb-4 lg:mb-8">
                            <img class="w-[40px]" src="../images/logo-dark.png" alt="Audio Labs Logo">
                            <h2 class="  text-3xl font-medium lg:text-4xl">AUDIO MIXING</h2>
                        </div>
                        <div class="rounded-2xl bg-[url(../images/Studio-5.webp)] h-[30vh] w-full bg-center bg-cover lg:h-[60vh]"></div>
                    </div>
                    <div class=" border-b border-black lg:border-b-0  lg:w-[70%]">
                        <div class="border-b border-black lg:mx-6">
                            <div class="pb-10 pt-6 lg:pt-0 lg:pb-6">
                                <p class="font-deco">Elevate your music, podcast, or audio project with our expert mixing services. We ensure your recordings achieve the perfect balance, clarity, and impact, making them stand out in any setting.</p>
                            </div>
                            <a href="/contact"><p class="hidden bg-black py-2 pl-5 pr-4 text-white lg:inline-block rounded-xl xl:mb-6">Let's talk<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                        </div>
                        <div>
                            <div class="lg:flex">
                                <div class="border-b border-black py-6 pb-10 lg:ml-6 lg:py-0 lg:w-[50%]">
                                  <div class=" lg:border-r lg:border-black lg:pr-4 lg:pb-10 lg:mb-6">
                                    <div class="flex w-full gap-2 lg:mt-6">
                                      <img class="w-[26px] h-[26px]" src="../images/logo-dark.png" alt="Audio Labs Logo">
                                      <h3 class="text-xl font-medium mb-4">Music Mixing</h3>
                                    </div>
                                    <p class="font-deco">Our experienced engineers balance instruments, vocals, and effects to create a cohesive and dynamic sound. We tailor our mixing approach to fit the style and genre of your music, ensuring a professional and engaging final product.</p>
                                  </div>
                                </div>
                                <div class="border-b border-black py-6 pb-10 lg:pl-6 lg:py-0 lg:pb-6  lg:w-[50%]">
                                  <div class="flex w-full gap-2 lg:mt-6">
                                    <img class="w-[26px] h-[26px]" src="../images/logo-dark.png" alt="Audio Labs Logo">
                                    <h3 class="text-xl font-medium mb-4">Podcast Mixing</h3>
                                  </div>
                                  <p class="font-deco">Improve the listening experience of your podcast with clear dialogue, balanced sound effects, and seamless transitions. Our podcast mixing services make sure your episodes sound professional and engaging.</p>
                                </div>
                              </div>
                              <div class="lg:flex">
                                <div class="border-b border-black py-6 pb-10 lg:ml-6 lg:border-b-0 lg:py-6  lg:w-[50%]">
                                  <div class=" lg:border-r lg:border-black lg:pr-4 lg:pb-10">
                                    <div class="flex w-full gap-2">
                                      <img class="w-[26px] h-[26px]" src="../images/logo-dark.png" alt="Audio Labs Logo">
                                      <h3 class="text-xl font-medium mb-4">Voice-Over Mixing</h3>
                                    </div>
                                    <p class="font-deco">Ensure your voice-over projects are crystal clear with perfectly balanced background music and sound effects. Our voice-over mixing services enhance the clarity and impact of your audio.</p>
                                  </div>
                                </div>
                                <div class="border-b border-black py-6 pb-10 lg:pl-6 lg:border-b-0 lg:py-6  lg:w-[50%]">
                                  <div class="flex w-full gap-2">
                                    <img class="w-[26px] h-[26px]" src="../images/logo-dark.png" alt="Audio Labs Logo">
                                    <h3 class="text-xl font-medium mb-4">Level Balancing</h3>
                                  </div>
                                  <p class="mb-8 font-deco">Ensure consistent volume levels across your audio tracks for a smooth listening experience. Our level balancing services make sure every element of your recording is heard clearly and evenly.</p>
                                  <a href="/contact"><p class="lg:hidden inline-block bg-black py-2 pl-5 pr-4 text-white rounded-xl">Let's talk<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-m mx-auto">
        <div class="px-2 lg:border-b lg:border-black">
            <div class=" py-4 lg:py-8">
                <div class="lg:flex">
                    <div class="lg:w-[30%] lg:border-r lg:border-black lg:pr-6">
                        <div class="flex gap-2 items-center mb-4 lg:mb-8">
                            <img class="w-[40px]" src="../images/logo-dark.png" alt="Audio Labs Logo">
                            <h2 class="  text-3xl font-medium lg:text-4xl">PROJECT SOLUTIONS</h2>
                        </div>
                        <div class="rounded-2xl bg-[url(../images/Studio-23.webp)] h-[30vh] w-full bg-center bg-cover lg:h-[60vh]"></div>
                    </div>
                    <div class=" border-b border-black lg:border-b-0  lg:w-[70%]">
                        <div class="border-b border-black lg:mx-6">
                            <div class="pb-10 pt-6 lg:pt-0 lg:pb-6">
                                <p class="font-deco">From project management to post-production, AudioLabs offers turnkey solutions for your large-scale audio projects, ensuring seamless and efficient service.</p>
                            </div>
                            <a href="/contact"><p class="hidden bg-black py-2 pl-5 pr-4 text-white lg:inline-block rounded-xl xl:mb-6">Let's talk<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                        </div>
                        <div>
                            <div class="lg:flex">
                                <div class="border-b border-black py-6 pb-10 lg:ml-6 lg:py-0 lg:w-[50%]">
                                  <div class=" lg:border-r lg:border-black lg:pr-4 lg:pb-10 lg:mb-6">
                                    <div class="flex w-full gap-2 lg:mt-6">
                                      <img class="w-[26px] h-[26px]" src="../images/logo-dark.png" alt="Audio labs logo">
                                      <h3 class="text-xl font-medium mb-4">Project Management</h3>
                                    </div>
                                    <p class="font-deco">We prepare project schedules, coordinate activities, employ staff, facilitate consultations with key stakeholders, and provide ongoing support and feedback to ensure your project runs smoothly from start to finish.</p>
                                  </div>
                                </div>
                                <div class="border-b border-black py-6 pb-10 lg:pl-6 lg:py-0 lg:pb-6  lg:w-[50%]">
                                  <div class="flex w-full gap-2 lg:mt-6">
                                    <img class="w-[26px] h-[26px]" src="../images/logo-dark.png" alt="Audio labs logo">
                                    <h3 class="text-xl font-medium mb-4">Equipment Hire</h3>
                                  </div>
                                  <p class="font-deco">Our studio and equipment are available for hire to deliver your project. We provide top-of-the-line gear to ensure the highest quality audio production.</p>
                                </div>
                              </div>
                            <div class="lg:flex">
                                <div class="border-b border-black py-6 pb-10 lg:ml-6 lg:py-0 lg:w-[50%]">
                                  <div class=" lg:border-r lg:border-black lg:pr-4 lg:pb-10 lg:mb-6">
                                    <div class="flex w-full gap-2 xl:mt-6">
                                      <img class="w-[26px] h-[26px]" src="../images/logo-dark.png" alt="Audio labs logo">
                                      <h3 class="text-xl font-medium mb-4">Audio Production</h3>
                                    </div>
                                    <p class="font-deco">Audio production is our bread and butter. We deliver high-quality production value for your projects, ensuring they meet the highest standards of audio excellence.</p>
                                  </div>
                                </div>
                                <div class="border-b border-black py-6 pb-10 lg:pl-6 lg:py-0 lg:pb-6  lg:w-[50%]">
                                  <div class="flex w-full gap-2 lg:mt-6">
                                    <img class="w-[26px] h-[26px]" src="../images/logo-dark.png" alt="Audio labs logo">
                                    <h3 class="text-xl font-medium mb-4">Post Production</h3>
                                  </div>
                                  <p class="font-deco">From recording to polishing, we ensure your product is perfect before launching it into the world. Our post-production services guarantee a flawless final product.</p>
                                </div>
                              </div>
                              <div class="lg:flex">
                                <div class="py-6 pb-10 lg:ml-6 border-b-0 lg:py-6  lg:w-[50%]">
                                  <div class=" lg:border-r lg:border-black lg:pr-4 lg:pb-10">
                                    <div class="flex w-full gap-2">
                                      <img class="w-[26px] h-[26px]" src="../images/logo-dark.png" alt="Audio labs logo">
                                      <h3 class="text-xl font-medium mb-4">Staff Training</h3>
                                    </div>
                                    <p class="mb-6 lg:mb-0 font-deco">We provide staff training as part of our ongoing support for your project. Our training services ensure your team is equipped with the skills needed to maintain high-quality audio production.</p>
                                    <a href="/contact"><p class="lg:hidden inline-block bg-black py-2 pl-5 pr-4 text-white rounded-xl">Let's talk<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
                                  </div>
                                </div>
                                <div class="hidden lg:block border-b border-black py-6 pb-10 lg:pl-6 lg:border-b-0 lg:py-6  lg:w-[50%]">
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>