---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Contact" description='Melbourne’s Premier Audio Production:  Tailored Sound Design, Recording, and Mixing at AudioLabs.'> 
    <section class="container-m mx-auto">
        <div class="mx-2 border-b border-black">
            <h1 class="text-3xl font-medium my-3 lg:text-5xl lg:my-6">↳SUCCESSFULLY SENT</h1>
        </div>
    </section>
    <section class="container-m mx-auto">
        <div class="px-2 py-6 border-b border-black mb-6 lg:mb-0">
            <p class="mb-6 lg:text-xl">Thank you for sending us a message! We will be back with you shortly!</p>
            <a class="text-center" href="/"><p class="inline-block bg-black py-2 pl-5 pr-4 text-white rounded-xl xl:mb-6">Back to home<img class="inline-block ml-3" src="../images/arrow.svg" alt="arrow icon"></p></a>
        </div>
    </section>
</Layout>