---
import { Image } from "astro:assets";
import logo from '../images/logo-dark.png';
---

<footer class="container-m mx-auto">
  <div>
    <div class="mx-2 border-b border-black pb-6 lg:flex lg:gap-[25%] xl:py-12">
      <div class="mb-6 lg:mb-0">
        <Image src={logo} alt="" class="w-[40px]" />
        <p class="font-bold text-lg mb-2">AudioLabs</p>
        <p class="mb-2 w-[150px]">Alphington, Melbourne VIC 3078</p>
        <div class="flex gap-2">
          <a href="https://www.instagram.com/audiolabs.au/" target="_blank"  aria-label="Link to Instagram page"><img src="../images/instagram.svg" alt="Instagram Logo"></a>
          <a href="https://www.facebook.com/ben.collinsgraham" target="_blank" aria-label="Link to Facebook page"><img src="../images/facebook.svg" alt="Facebook logo"></a>
          
        </div>
      </div>
      <div class="flex gap-16 lg:gap-32 lg:border-l lg:border-black lg:pl-12">
        <div>
          <h4 class="text-lg font-medium">Pages</h4>
          <a class="block" href="/" aria-label="Link to home page">Home</a>
          <a class="block" href="/services" aria-label="Link to services page">Services</a>
          <a class="block" href="/projects" aria-label="Link to projects page">Projects</a>
          <a class="block" href="/contact" aria-label="Link to contact page">Contact</a>
          <a class="block" href="/articles" aria-label="Link to blog page">Editorial</a>
        </div>
        <div>
          <h4 class="text-lg font-medium">Services</h4>
          <p>Recording</p>
          <p>Audio Editing</p>
          <p>Audio Mixing</p>
          <p>Project Solution</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-2 py-6 border-b border-black lg:flex lg:justify-between">
    <div class="lg:w-[35%]">
      <p class="text-lg font-medium mb-2">Acknowledgment of Country</p>
      <p class="mb-3 text-sm">AudioLabs acknowledges the Wurundjeri Woi Wurrung people as the Traditional Custodians of the land on which we operate in Alphington, Melbourne. We pay our respects to their Elders past, present, and emerging.</p>
      <div class="flex gap-2">
        <img class="w-[40px] h-auto" src="../images/aboriginal-flag.png" alt="aboriginal flag">
        <img class="w-[40px] h-auto" src="../images/torres.png" alt="torres strait flag">
      </div>
    </div>
    <div class="mt-6 lg:mb-0 lg:content-end">
      <p class="text-sm">© COPYRIGHT AUDIOLABS 2024. ALL RIGHTS RESERVED.</p>
    </div>
  </div>
  <div class="mx-2">
    <p class="text-sm text-center py-2">Website by <a href="http://www.kurtiskunicreative.com" class="underline" target="_blank" aria-label="Link to web developer website">Kurtis</a></p>
  </div>
</footer>
