---
import Layout from "../../layouts/Layout.astro";
import ArticleCard from "../../components/ArticleCard.astro";
import SearchForm from "../../components/SearchForm.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
export const prerender = false;


const query: string | null = Astro.url.searchParams.get('query');

const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog');

// filter articles based on query
const searchResults = allBlogArticles.filter(article => {
    const titleMatch: boolean = article.data.title
    .toLowerCase()
    .includes(query!.toLowerCase());

    const bodyMatch: boolean = article.body
    .toLowerCase()
    .includes(query!.toLowerCase());

    const slugMatch: boolean = article.slug
    .toLowerCase()
    .includes(query!.toLowerCase());

    return titleMatch || bodyMatch || slugMatch
});
---
<Layout title="Search Results" description="Melbourne’s Premier Audio Production:  Tailored Sound Design, Recording, and Mixing at AudioLabs.">
    <section class="container-m mx-auto">
        <div class="mx-2 border-b border-black">
            <h1 class="text-3xl font-medium my-3 lg:text-5xl lg:my-6">↳All Articles</strong></h1>
        </div>
    </section>
    <section class="container-m mx-auto mt-2 px-2">
        <SearchForm />
    </section>
    <div class="container mx-auto">
        <div class="mx-2 border-b border-black">
            <h1 class="text-2xl pb-3 mt-6">Results For <strong>{query}</strong></h1>
        </div>
    </div>
    <section class="container-m mx-auto py-4  mb-6 lg:mb-0 lg:pb-0">
        <div class="mx-2 border-b border-black lg:border-b-0">
            <div class="lg:grid lg:grid-cols-4 lg:border-b lg:border-black">
                {searchResults.map(article => (
                    <ArticleCard article={article} />
                ))}
            </div>
        </div>
    </section>

</Layout>

<!-- <script>
    const search = document.querySelector('#search')
</script> -->